.ListItem{
    margin: 10px 100px; 
    border: 2px solid #3C4048;
    background-color: #00ABB3;
    border-radius: 10px;
    margin: 10px;
}

ul{
    list-style-type: none;
    text-align: left;
}

 
.ListItem_title{
    padding: 10px;
    transition: all 0.5s;
    text-transform: capitalize;
    font-weight: 500;
}

 