.formItems__form{
    
    border: 2px solid #AEBDCA;
    background-color: #7895B2;
    border-radius: 10px;
    padding: 5px;
}

.formItems__header{
    font-weight: 500;
    color: #fff;
}

.formItems__input{
    outline: none;
    width: 80%;
    padding: 5px;
    margin: 10px 10px 10px 0;
    border-radius: 5px;
    border: 2px solid #E8DFCA;
    transition: 0.5s;
}

.formItems__input:hover{
   background-color: #e7e3da;
}

.formItems__button{
    background-color: #F5EFE6;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    width: 20%;
    margin-bottom: 10px;
    transition: 0.5s all;
}

.formItems__button:hover{
    background-color: #65e261;
}


.formControl.invalid input{
    background-color: rgb(255, 104, 104);
    border: 2px solid red;
}

.formControl.invalid input::placeholder{
    color: red;
}

.formControl.invalid .formItems__button:hover{
    background: red;
}

.error{
    background-color: rgb(255, 112, 112);
    color: red;
    border-radius: 10px;
    padding: 5 10px;
    margin-bottom: 10px;
}

 